# Ignore .NET
bin/
obj/
.vs/

# Ignore Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
Builds/
Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.userprefs

# Ignore OS files
.DS_Store
Thumbs.db
# SSH Keys (local only)
.ssh/
